# SQLite

Beispiel mit SQLite, ohne Server

In [1]:
%load_ext sql
%sql sqlite://

'Connected: None@None'

In [2]:
%%sql
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

Done.
1 rows affected.
1 rows affected.

[]

In [3]:
%sql select * from writer

Done.

[('William', 'Shakespeare', 1616), ('Bertold', 'Brecht', 1956)]

#Mit MySQL

Voraussetzung, der MySQL Server l√§uft!

In [32]:
%sql mysql://tester:test@localhost/test_db

Format: (postgresql|mysql)://username:password@hostname/dbname, or one of dict_keys(['None@None', 'sqlite://'])

ImportError: No module named 'MySQLdb'

In [ ]:
%%sql
CREATE TABLE `test_db`.`writer` (`first_name` VARCHAR(30) NOT NULL,`last_name` VARCHAR(45) NULL,
                                 `year_of_death` DATETIME NULL, PRIMARY KEY (`first_name`));

In [38]:
%%sql
INSERT INTO writer VALUES ('William', 'Shakespeare', '1616-01-01 00:00');
INSERT INTO writer VALUES ('Bertold', 'Brecht', '1956-01-01 00:00');

1 rows affected.
1 rows affected.

[]

In [39]:
%sql select * from `test_db`.`writer`;

2 rows affected.

[('Bertold', 'Brecht', datetime.datetime(1956, 1, 1, 0, 0)),
 ('William', 'Shakespeare', datetime.datetime(1616, 1, 1, 0, 0))]

In [15]:
%sql DROP TABLE `test_db`.`writer`

(_mysql_exceptions.OperationalError) (1142, "DROP command denied to user 'tester'@'localhost' for table 'writer'") [SQL: u'DROP TABLE `test_db`.`writer`']

#MongoDB

Verbindung herstellen

In [5]:
import pymongo

# Connection to Mongo DB
try:
    conn=pymongo.MongoClient()
    print ("Connected successfully!!!")
except (pymongo.errors.ConnectionFailure, e):
   print ("Could not connect to MongoDB: %s" % e )
conn

Connected successfully!!!

MongoClient('localhost', 27017)

Nun mal etwas rumprobieren:

In [6]:
db = conn.mydb
collection = db.my_collection
doc1 = {"first_name":"William","last_name":"Shakespeare","year_of_death":"1616"}
doc2 = {"first_name":"Bertold","last_name":"Brecht","year_of_death":"1956"}
collection.insert(doc1)
collection.insert(doc2)

ObjectId('558eb4f30640fd68cf7bff52')

In [7]:
conn.database_names()

['database', 'mydb', 'local']

In [8]:
db.collection_names()

['system.indexes', 'my_collection']

In [9]:
collection.find_one()

{'_id': ObjectId('558eb4f30640fd68cf7bff51'),
 'first_name': 'William',
 'last_name': 'Shakespeare',
 'year_of_death': '1616'}

In [10]:
list(collection.find())[:2]

[{'_id': ObjectId('558eb4f30640fd68cf7bff51'),
  'first_name': 'William',
  'last_name': 'Shakespeare',
  'year_of_death': '1616'},
 {'_id': ObjectId('558eb4f30640fd68cf7bff52'),
  'first_name': 'Bertold',
  'last_name': 'Brecht',
  'year_of_death': '1956'}]

In [27]:
collection.find({'year_of_death':'1956'}).count()

1

# Redis

In [11]:
import redis
r = redis.StrictRedis(host='localhost', port=6379, db=0)

In [12]:
r.set('William Shakespeare', '1616')
r.set('Bertold Brecht', '1956')

True

In [13]:
import pickle

In [14]:
class PicklePerson(object):
    def __init__(self, first_name, last_name, year_of_death):
        self.first_name = first_name
        self.last_name = last_name
        self.year_of_death = year_of_death
    
    def __repr__(self):
        return "Name: " + self.first_name + " " + self.last_name + \
            "\n" + "Death: " + self.year_of_death

In [15]:
bob = pickle.dumps(PicklePerson("William","Shakespeare","1616"))
bert = pickle.dumps(PicklePerson("Bertold","Brecht","1956"))
r.set("bob", bob)
r.set("bert", bert)

True

In [16]:
pickle.loads(r.get("bob"))

Name: William Shakespeare
Death: 1616

r.get('1616')

In [17]:
print(r)

StrictRedis<ConnectionPool<Connection<host=localhost,port=6379,db=0>>>

#etcd

In [22]:
import etcd
client = etcd.Client(host='127.0.0.1', port=4001)

Einen Key schreiben

In [29]:
client.write('/nodes/n1', 1)
client.write('/nodes/n2', 2)

<class 'etcd.EtcdResult'>({'createdIndex': 12, 'dir': False, 'expiration': None, 'etcd_index': 12, '_children': [], 'value': '2', 'raft_index': 1973, 'modifiedIndex': 12, 'ttl': None, 'newKey': True, 'key': '/nodes/n2', 'action': 'set'})

Den Key lesen

In [30]:
client.read('/nodes/n1').value

'1'

In [31]:
directory = client.get("/nodes")

# loop through directory children
for result in directory.children:
  print(result.key + ": " + result.value)

/nodes/n1: 1
/nodes/n2: 2

Ein paar Infos zum Cluster

In [27]:
client.machines

['http://localhost:2379', 'http://localhost:4001']