#MySQL

In [9]:
var mysql      = require('mysql');
var connection = mysql.createConnection({
  host     : 'localhost',
  user     : 'tester',
  password : 'test',
});

In [10]:
connection.connect(function(err) {
    // connected! (unless `err` is set)
    if (err) throw err;
    console.log('connected as id ' + connection.threadId);
});

connected as id 82

Let's insert some data

In [16]:
var post  ={first_name:'Wolfgang', last_name:'Goethe', year_of_death:'1832-01-01 00:00'}
var query = connection.query('INSERT INTO `test_db`.`writer` SET ?', post, function(err, result) {
    if (err) throw err;
    
    console.log(result.insertId);
});
console.log(query.sql)

INSERT INTO `test_db`.`writer` SET `first_name` = 'Wolfgang', `last_name` = 'Goethe', `year_of_death` = '1616-01-01 00:00'
0

Let's query for some data, prepared statement

In [25]:
var sql = "SELECT * FROM ?? WHERE ?? > ?";
var inserts = ['test_db.writer', 'year_of_death', '1500'];
sql = mysql.format(sql, inserts);

var query = connection.query(sql, function(err, results) {
    if (err) throw err;
    for (var i = 0; i < results.length; i++) {
        console.log('Writer: ', results[i].first_name , results[i].last_name, "Year of Death: ", results[i].year_of_death);
    }
});

"SELECT * FROM `test_db`.`writer` WHERE `year_of_death` > '1500'"

Writer:  Bertold Brecht Year of Death:  [Date] "1956-01-01T00:00:00.000Z"
Writer:  William Shakespeare Year of Death:  [Date] "1616-01-01T00:00:00.000Z"
Writer:  Wolfgang Goethe Year of Death:  [Date] "1616-01-01T00:00:00.000Z"