# MySQL

In [2]:
library(RMySQL)

In [4]:
mydb = dbConnect(MySQL(), user='tester', password='test', dbname='test_db', host='localhost')

In [6]:
dbListTables(mydb)

[1] "test"   "writer"

In [7]:
rs = dbSendQuery(mydb, "select * from writer")
data = fetch(rs, n=-1)

In [10]:
data

  first_name   last_name       year_of_death
1    Bertold      Brecht 1956-01-01 00:00:00
2    William Shakespeare 1616-01-01 00:00:00

# Insert some data

In [15]:
pp_data<-read.csv("https://vincentarelbundock.github.io/Rdatasets/csv/datasets/AirPassengers.csv", nrow = 10)

In [16]:
pp_data

    X     time AirPassengers
1   1 1949.000           112
2   2 1949.083           118
3   3 1949.167           132
4   4 1949.250           129
5   5 1949.333           121
6   6 1949.417           135
7   7 1949.500           148
8   8 1949.583           148
9   9 1949.667           136
10 10 1949.750           119

In [17]:
dbWriteTable(mydb, name='pp_data', value=pp_data)

[1] TRUE

#MongoDB

In [18]:
library(rmongodb)

In [19]:
m <- mongo.create()
ns <- "database.collection"
mongo.is.connected(m)

[1] TRUE

In [21]:
list <- list(a=2, b=3, c=list(d=4, e=5))

In [22]:
bson <- mongo.bson.from.list(list)

In [23]:
mongo.insert(m, ns, bson)

[1] TRUE