# SQLite

Beispiel mit SQLite, ohne Server

In [14]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@None'

In [15]:
%%sql
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

(sqlite3.OperationalError) table writer already exists [SQL: u'CREATE TABLE writer (first_name, last_name, year_of_death);']

In [16]:
%sql select * from writer

Done.

[(u'William', u'Shakespeare', 1616), (u'Bertold', u'Brecht', 1956)]

#Mit MySQL

Voraussetzung, der MySQL Server l√§uft!

In [17]:
%sql mysql://tester:test@localhost/test_db

u'Connected: tester@test_db'

In [ ]:
%%sql
CREATE TABLE `test_db`.`writer` (`first_name` VARCHAR(30) NOT NULL,`last_name` VARCHAR(45) NULL,
                                 `year_of_death` DATETIME NULL, PRIMARY KEY (`first_name`));

In [21]:
%%sql
INSERT INTO writer VALUES ('William', 'Shakespeare', '1616');
INSERT INTO writer VALUES ('Bertold', 'Brecht', '1956');

1 rows affected.
1 rows affected.

[]

In [22]:
%sql select * from `test_db`.`writer`;

2 rows affected.

[('Bertold', 'Brecht', None), ('William', 'Shakespeare', None)]

In [15]:
%sql DROP TABLE `test_db`.`writer`

(_mysql_exceptions.OperationalError) (1142, "DROP command denied to user 'tester'@'localhost' for table 'writer'") [SQL: u'DROP TABLE `test_db`.`writer`']

#etcd

In [25]:
import etcd
client = etcd.Client(host='127.0.0.1', port=4003)

AttributeError: 'module' object has no attribute 'Client'

##Cassandra

Establish connection and open session to Keyspace "demo"

In [1]:
from cassandra.cluster import Cluster
cluster = Cluster()
session = cluster.connect('demo')

Insert some data

In [2]:
session.execute(""" insert into writer (last_name, age, first_name) values ('Brecht', 58, 'Bertold') """)

Get the data

In [3]:
result = session.execute("select * from writer where last_name='Brecht' ")[0]
print result.first_name, result.age

Bertold 58

Now with a loop

In [4]:
result = session.execute("select * from writer")
for x in result: print x.last_name, x.age

Brecht 58

Create some keyspaces, tables and fill

In [8]:
from cassandra.query import BatchStatement
keyspace_num = 1
session.execute("DROP KEYSPACE IF EXISTS ks%d"%keyspace_num)
session.execute("CREATE KEYSPACE ks%d with replication = {'class':'SimpleStrategy', 'replication_factor':1}"%keyspace_num)
session.execute("USE ks%d"%keyspace_num)
table = 1
session.execute("CREATE TABLE tab%d (x int, y int, PRIMARY KEY (x))"%table)
stmt =session.prepare("INSERT INTO tab%d (x,y) VALUES (?,?)"%table)
batch = BatchStatement()
batch.add(stmt, [11, 22])
batch.add(stmt, [12, 23])
session.execute(batch)

In [9]:
result = session.execute("select * from tab1")
for x in result: print x.x, x.y

11 22
12 23